.footer {
    padding-top: 20px;
    background-color: var(--footer-bg);
    font-family: var(--font-family-base);
    color: var(--footer-text);
}

.colum__footer>p {
    color: var(--color-primary-100);
}

.footer__logo {
    border-radius: 8px;
}