* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER FIJO */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Para que no tape el contenido */
body {
  margin-top: 90px;
}

.contenedor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;

}

.logo {
  font-weight: bold;
  color: var(--color-primary-600);
}

.contenedor-nav {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: white;
  padding: 10px;
}

.contenedor-nav a {
  padding: 10px;
  text-decoration: none;
  color: var(--color-text-primary);
}

.contenedor-nav a:hover {
  color: var(--color-text-secondary);
}

.contenedor-buscar {
  display: none;
}

.acciones {
  display: flex;
  gap: 30px;
}

.contenedor-login {
  background: var(--color-primary-600);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}

.contenedor-login:hover {
  background: var(--color-primary-hover);
}

.contenedor-nav.active {
  display: flex;
}

.btn-carrito {
  background-color: var(--color-white);
  padding: 5px;
  border-radius: 8px;
  border: 1px solid var(--color-primary-hover);
}


.carrito-icono {
  position: relative;
  font-size: 24px;
  text-decoration: none;
}

.contador {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 3px 7px;
  border-radius: 50%;
  font-weight: bold;

  /* Animación */
  transform: scale(1);
  transition: transform 0.2s ease;
}

/* 💥 Animación cuando cambia */
.contador.animar {
  transform: scale(1.4);
}


/* Oculto por defecto en móvil */
@media (max-width: 768px) {

  .contenedor-header {
    gap: 20px;
  }

  .logo a img {
    width: 120px;
  }

  .acciones {
    margin-left: auto;
  }

  .contenedor-nav {
    display: none;
    /* O puedes usar transform: translateX(100%) para animar */
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 20px;
  }

  .contenedor-nav.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    background: none;
    border: none;
  }

  .menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background: #333;
    margin: 5px 0;
  }
}

@media (min-width: 769px) {

  .menu-toggle {
    display: none;
  }

  .contenedor-nav {
    display: flex;
  }

  .contenedor-nav {
    display: flex;
    position: static;
    flex-direction: row;
    gap: 20px;
    width: auto;
    background: none;
  }

  .contenedor-buscar {
    display: block;
  }

  .contenedor-buscar input {
    padding: 6px 10px;
    border-radius: 20px;
    border: 1px solid var(--color-primary-hover);
  }
}